{
    "semi": true,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 100
  }